<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="images/discuss.png" width="50" style="float: left;">
        <h4>Comments and questions</h4>
        <p>We love to hear your feedback. Post your questions and comments on the blog post associated with this
            application.</p>
    </div>
</div>

<br/>


<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="images/twitter.png" width="50" style="float: left;">
        <h4>Follow me on Twitter</h4>
        <p><a href="http://twitter.com/wasta">@wasta</a></p>
    </div>
</div>

<br/>


<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="images/blog.png" width="50" style="float: left;">
        <h4>Check out my blog</h4>
        <p><a href="http://wasta.com/blog">http://wasta.com/blog</a></p>
    </div>
</div>