<section class="top-bar-section">
          <div class="row">
        <div class="large-12 columns">
       <!--    <ul class="right">
          <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr fa-2x"></i></a></li>
        </ul> -->
           <div class="row">
        <div class="large-3 columns">
          <h1>Wasta</h1>
        </div>
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="#" class="button">Buy</a></li>
             <li><a href="#" class="button">Sell</a></li>
             <li><a href="#" class="button">Blog</a></li>
             <li><a href="#" class="button">Refund</a></li>
            </ul>
          </div>          
          <hr/>
        </div>
      </div>
     

  </section>