<li class="has-form">
    <form>
        <div class="row collapse">
             <div class="row search">
  <div class=" small-12 columns">
    <div class="row collapse">
      <!-- Search field -->
      <div class="small-12 large-12  columns ">
        <div class=" keyword">
          <a href="#" data-dropdown="drop3">
            <div class="arrow-down"></div>
          </a>
          <ul id="drop3" class="f-dropdown content" data-dropdown-content style="position: absolute;  left: -99999px;">
            </ul>
        </div>
        <i class="fi fi-magnifying-glass"></i>
        <input type="text" class="search-field" placeholder="Find: Event,Venue,Date,Promoter.. ">

         </div>
    </div>
  </div>
</div>              
        </div>

    </form>
</li>
</div>

     
         
      </div>
    <div class="row">
 
    <div class="large-3 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/209x250"/>
          <li>Live at Atlantis 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam </li>
  <a href="#">Buy Tickets</a>
        </p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/209x250"/>
          <li>Live at Atlantis 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam </li>
  <a href="#">Buy Tickets</a>
        </p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/209x250"/>
          <li>Live at Atlantis 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam </li>
  <a href="#">Buy Tickets</a>
        </p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/209x250"/>
          <li>Live at Atlantis 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam </li>
  <a href="#">Buy Tickets</a>
        </p>
      </div>
    </div>
    <div class="large-8 columns">
      <div class="panel">
        <h5>Event Blog Post</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend .</p><a href="#">ReadMore</a>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/209x250"/>
          <li>Advertisement </li>
  <a href="#">More Details</a>
        </p>
      </div>
    </div>
 
  </div>